# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
env/
venv/
ENV/
.env

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3
/media/
staticfiles/

# PyCharm / VSCode
.idea/
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints

# Others
*.pot
*.mo
*.swp
